<div ng-controller="CreateActivityCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Create an activity</h3>

            <form name="activityForm" novalidate role="form">
                <div class="form-group">
                    <label for="name">Name <span class="required">*</span></label>
                    <span class="label label-danger"
                        ng-show="activityForm.name.$error.required">Required!</span>
                    <input id="name" type="text" name="name" ng-model="activity.name" class="form-control"
                           ng-required="true"/>
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input id="location" ng-model="activity.location" name="location" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" type="text" name="description" ng-model="activity.description"
                              class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="topics">Topics</label>
                    <select id="topics" ng-model="activity.topics" name="topics"
                            ng-options="topic for topic in topics"
                            class="form-control" multiple>
                    </select>
                </div>

                <div class="form-group" ng-controller="DatepickerCtrl">
                    <div><label for="startDate">Start Date and Time</label></div>
                    <datetimepicker ng-model="activity.startDate" show-meridian="true" 
                        id="startDate" date-format="dd-MMMM-yyyy"
                        date-format="dd-MMM-yyyy" date-options="dateOptions">
                    </datetimepicker>
                </div>

                <div class="form-group" ng-controller="DatepickerCtrl">
                    <div>
                        <label for="endDate">End Date and Time</label>
                        <span class="label label-danger"
                            ng-show="!isValidDates()">End Date must be later or equal to Start Date!</span>
                    </div>
                    <datetimepicker ng-model="activity.endDate" show-meridian="true" 
                        id="endDate" date-format="dd-MMMM-yyyy"
                        date-format="dd-MMM-yyyy" date-options="dateOptions">
                    </datetimepicker>
                </div>

                <div class="form-group">
                    <label for="maxAttendees">Max Attendees</label>
                    <span class="label label-danger"
                        ng-show="!isValidMaxAttendees()">Must be an integer!</span>
                    <!-- The input type is text as the activity.maxAttendees will be undefined,
                    hence isValidMaxAttendees will be true when input type is number -->
                    <input id="maxAttendees" type="text" name="maxAttendees" ng-model="activity.maxAttendees"
                           class="form-control"/>
                </div>

                <button ng-click="createActivity(activityForm)" class="btn btn-primary"
                        ng-disabled="!isValidActivity(activityForm) || loading">Create
                </button>
            </form>
        </div>
    </div>
</div>
